<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <%= f.submit "Log in", class: "btn btn-primary w-full" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <%= button_to '/auth/github', data: { turbo: false }, class: 'btn btn-dark btn-block d-flex justify-content-center align-items-center' do %>
      <i class="fab fa-github "></i> <span style="margin-right: 4px">Sign in with Github</span>
    <% end %>

    <%= button_to '/auth/google_oauth2', data: { turbo: false }, class: 'btn btn-danger btn-block  d-flex justify-content-center align-items-center ' do %>
      <i class="fab fa-google "></i> Sign in with Google
    <% end %>

    <%= button_to '/auth/facebook', data: { turbo: false }, class: 'btn btn-primary btn-block d-flex justify-content-center align-items-center ' do %>
      <i class="fab fa-facebook " style="margin-left: 16px"></i> Sign in with Facebook
    <% end %>

  </div>
</div>
