<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <div>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.

    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                  data: { confirm: "You sure?" }  %>
    <% end %>
  </span>
  </div>
  <span class="content">
    <a href="/microposts/<%= micropost.id %>" style="color: black">  <%= micropost.content %></a>
    <% if micropost.image.attached? %>
      <img src="<%= url_for(micropost.image) %>" class="image-preview">
    <% end %>


  </span>
  <%= render 'shared/reaction_form', comment: micropost %>

</li>
